@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
  background-color: #1A0B2E;
}

header{
  padding-top: 30px;
  height: 760px;
}

.logo{
  color: white;
  font-size: 2.225rem;
  font-weight: 800;
}

.gradient-text {
  background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav{
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li a{
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
}

.btn{
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  border: none;
  padding: 12px 16px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

/* Hero Section */

.box{
  position: relative;
}

.bg{
  left: -23px;
}

.circle{
  top: -655px;
  right: -600px;
}

.mic{
  top: -930px;
  right: -722px;
}

.label{
  background-color: #00FF88;
  color: #1A0B2E;
  font-size: 1.125rem;
  font-weight: 700;
  width: 75px;
  height: 38px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1160px;
  right: -870px;
}

.hero-text{
  width: 75%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  top: -850px;
}

.hero-title{
  color: white;
  font-weight: 800;
  font-size: 60px;
  margin-top: 8px;
}

.hero-description{
  color: white;
  opacity: 60%;
  line-height: 24px;
  margin-bottom: 24px;
}

.btn-2{
  background-color: #1A0B2E;
  border: 2px solid #00FF88;
  padding: 12px 16px;
  border-radius: 30px;
  color: #00FF88;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}


/* Prodcast section */

#prodcast{
  text-align: center;
  color: white;
}

.about-prodcast{
  width: 75%;
  max-width: 1200px;
  margin: 90px auto;
  padding: 50px;
}

.prodcast-title{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text{
  opacity: 60%;
  line-height: 24px;
}

hr{
  border: 1px solid #444;
  margin-top: 40px;
}

.achievements{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.achievements h3{
  font-size: 2.5rem;
  margin-top: 30px;
  color: #00FF88;
}


/* choose-section */

#choose{
  background-color: #230E3D;
  color: white;
}

#choose h1{
  text-align: center;
  padding: 50px 0 20px 0;
  font-size: 2.5rem;
}

.choose-container>*{
  background-color: #351165;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.068);
}

.heading{
  font-size: 1.5rem;
  margin: 16px 0;
}

.audio{
  grid-area: audio;
  padding: 107px 40px;
  width: 380px;
}

.mobile-friendly{
  grid-area: mobile-friendly;
  padding: 40px;
  width: 790px;
}

.global{
  grid-area: global;
  padding: 40px;
  width: 790px;
}

.interviews{
  grid-area: interviews;
  padding: 40px;
  width: 790px;
}

.resources{
  grid-area: resources;
  padding: 40px;
  width: 380px;
}

.choose-container{
  display: grid;
  grid-template-areas:
    "audio mobile-friendly mobile-friendly"
    "audio global global"
    "interviews interviews resources";
  gap: 20px;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 80px 0;
}


/* Featured Episodes Section */

#featured-episodes{
  color: white;
}

#featured-episodes h1{
  text-align: center;
  padding: 100px 0 40px 0;
  font-size: 2.5rem;
}

.videos-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}
.video-card{
  background-color: #230E3D;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.203);
  padding-bottom: 24px;
}

.video-card h3{
  font-size: 1.5rem;
  margin: 16px;
}

.video-card p{
  margin: 16px;
  line-height: 22px;
}

.video-card span{
  margin: 16px;
  color: #00FF88;
  font-weight: 600;
  margin-bottom: 24px;
}


/* host-section */

#host{
  color: white;
}

#host h1{
  text-align: center;
  padding: 120px 0 40px 0;
  font-size: 3rem;
}

.host-container{
  background-color: #230E3D;
  display: flex;
  gap: 40px;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
}

.host-name{
  font-size: 2rem;
  margin-bottom: 16px;
}

.host-info a img{
  margin: 20px 8px;
}


/* Footer Section */

footer{
  color: white;
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 50px;
  margin-top: 120px;
}

.footer-logo{
  font-size: 2.225rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.icon-container{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 32px;
}

.icon-img{
  margin-left: 40px;
  font-size: 1.1125rem;
}

/* Responsive Design */

@media screen and (max-width:576px){

  nav{
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }

  .bg{
    left: -1180px;
  }

  .circle{
    top: -655px;
    right: -20px;
  }

  .mic{
    top: -930px;
    right: -140px;
  }

  .label{
    top: -1160px;
    right: -280px;
  }

  .hero-text{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    /* top: -850px; */
  }

  .hero-title{
    font-size: 36px;
  }

  .about-prodcast{
    width: 100%;
    max-width: 400px;
    margin: 190px auto;
  }

  .prodcast-title{
  font-size: 2rem;
  }

  .text{
    font-size: 14px;
  }

  .choose-container{
    grid-template-areas:
      "audio"
      "mobile-friendly"
      "global"
      "interviews"
      "resources";
  }

  .achievements{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  } 

  .audio, .mobile-friendly, .global, .interviews, .resources{
    width: 100%;
    padding: 20px;
  }

  .videos-container{
    grid-template-columns: 1fr;
    gap: 30px;
    margin-left: 5px;
    width: 100%;
    max-width: 350px;
  }

  .host-container{
    flex-direction: column;
    width: 100%;
    max-width: 350px;
  }

  footer{
    padding: 80px 0;
  }

  .icon-container{
    width: 100%;
    max-width: 350px;
  }
  
}